{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="messagetops">
	{% with messages = get_flashed_messages() %}
	{% if messages %}	
		{% for message in messages %}
		<h3 class="messages">{{message}}</h3>
		{% endfor %}
	{% endif %}
	{% endwith %}
	{% if message %}
	<h3 class="messages">{{message}}</h3>
    {% endif %}
</div>
<div class="loginbox">
    <img src="{{ url_for('static', filename='images/icon.png') }}" class="avatar">
    <form action="{{ url_for('code_page',form_namesurn=form_namesurn, form_mail=form_mail, form_password=form_password, form_school=form_school, form_age=form_age, stringcode=stringcode, langlist=langlist) }}" method="post">
        <p>Onay Kodu</p>
        <input type="text" name="code" placeholder="Mail Adresinize Gelen Onay Kodunu Giriniz" required>
        <input type="submit" name="" value="Giriş">
    </form>
</div>





{% endblock %}