{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="messagetops">
	{% with messages = get_flashed_messages() %}
	{% if messages %}	
		{% for message in messages %}
		<h3 class="messages">{{message}}</h3>
		{% endfor %}
	{% endif %}
	{% endwith %}
	{% if message %}
	<h3 class="messages">{{message}}</h3>
    {% endif %}
</div>
<table class="contenttab">
    <thead>
        <tr>
            <th>İşi Veren Firma Adı</th>
            <th> İşin Konumu </th>
            <th> İşin Tarihi Ve Saati </th>
            <th> İş İçin Gereken Çalışan Sayısı </th>
            <th> İş İçin Gerekli Yabancı Dil</th>
            <th> İşin Ücreti (Günlük)</th>
            <th> İş Kaç Saat Sürüyor (Günlük) </th>
            <th> İş Kaç Gün Devam Edecek</th>
            {% if g.types == 'Student' %}
            <th>İşlem</th>
            {% endif %}
        </tr>
    </thead>  
    <tbody>
{% for job in jobs %}
{% set ns = namespace(found=true) %}
    
    {% for request in requests %}

        {% if request[1] == g.pk and request[3] == job[0] %}
        {% set ns.found = false %}       
        {% endif %}
    {% endfor %}
    {% if ns.found %}
    <tr>
        {% for agency in agencies %}
        {% if agency[0] == job[5] %}
        <td>	{{agency[1]}}</td>
        {% endif %}
        {% endfor %}
        <td>	{{ job[1] }} </td>
        <td>	{{ job[2]}}</td>
        <td>	{{ job[3]}}</td>
        <td>	{{ job[4]}}</td>
        <td>	{{ job[6]}}</td>
        <td>	{{ job[7]}}</td>
        <td>	{{ job[8]}}</td>    
        {% if job[3] > 0 %}
        {% if g.types == 'Student' %}
        <td><a href="{{ url_for('.request_job', reqjob_ıd=job[0], reqjob_mer=job[5]) }}">İşe istek gönder</a></td>
        {% endif %}
        {% endif %}
    </tr>
    {% endif %}

{% endfor %}
</tbody>
</table>


{% endblock %}