{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="messagetops">
	{% with messages = get_flashed_messages() %}
	{% if messages %}	
		{% for message in messages %}
		<h3 class="messages">{{message}}</h3>
		{% endfor %}
	{% endif %}
	{% endwith %}
	{% if message %}
	<h3 class="messages">{{message}}</h3>
    {% endif %}
</div>
<div class="loginbox">
    <img src="{{ url_for('static', filename='images/icon.png') }}" class="avatar">
    <form action="{{ url_for('reset_pass1_page', form_mail=form_mail, stringcode=stringcode, code=code) }}" method="post">
        <p>Yeni Şifrenizi Belirleyin</p>
        <input type="password" name="password" placeholder="Yeni Şifrenizi Giriniz" required>
        <input type="password" name="password1" placeholder="Yeni Şifrenizi Tekrar Giriniz" required>
        <input type="submit" name="" value="Giriş">
    </form>
</div>





{% endblock %}