{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="messagetops">

<h3 class="messages">Toplam Öğrenci Sayısı = {{number}}</h3>

</div>

<table class="contenttab">
<thead>
    <tr>
        <th> Mail Adresi </th>
        <th> İsim Soyisim </th>
        <th> Üniversite </th>
        <th> Yaş</th>
        <th> Yabancı Diller</th>
        {% if g.is_admin == 'admin' %}
        <th>İşlem</th>
        {% endif %}
    </tr>
</thead>   
<tbody>
{% for student in students %}
    {% if student[0] != 'yilmazy17@itu.edu.tr' %}
        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1]}}</td>
            <td>{{ student[3]}}</td>
            <td>{{ student[4]}}</td>
            <td>{% for language in languages %}{% if language[1] == student[0] %}{{language[2]}} {% endif %}{% endfor %}</td>
            {% if g.is_admin == 'admin' %}
            <td><a href="{{ url_for('.delete_stu', stumail=student[0]) }}">Öğrenciyi Sil</a></td>
            {% endif %}
        </tr>
    {% endif %}
    {% endfor %}
</tbody>
</table>

{% endblock %}